<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1">
    <parameter name="readerTestFilePath" value=".\out\production\Task03\data\TextExample.txt"/>
    <test name="all-packages">
        <packages>
            <package name=".*"/>
        </packages>
    </test>

</suite>