<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

    <display-name>Greenhouse Application</display-name>
    <description>
        This is a web application parses XML-document by means DOM, SAX and StAX parsers.
        Shows the result of this parsing in a table on a web page.
        The table contains a list of flowers, that growth in the Greenhouse,
        with some information about them.
    </description>

    <servlet>
        <servlet-name>XMLUploadServlet</servlet-name>
        <servlet-class>by.khomenko.training.task04.servlet.XMLUploadServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>XMLUploadServlet</servlet-name>
        <url-pattern>/uploadXML</url-pattern>
    </servlet-mapping>

</web-app>